#------------------------------------------------------------------------------#
#                            OFFICIAL UBUNTU REPOS                             #
#------------------------------------------------------------------------------#


###### Ubuntu Main Repos
deb http://ports.ubuntu.com/ubuntu-ports {{ distro }} main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ distro }} main restricted universe multiverse

###### Ubuntu Update Repos
deb http://ports.ubuntu.com/ubuntu-ports {{ distro }}-security main restricted universe multiverse
deb http://ports.ubuntu.com/ubuntu-ports {{ distro }}-updates main restricted universe multiverse
deb http://ports.ubuntu.com/ubuntu-ports {{ distro }}-backports main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ distro }}-security main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ distro }}-updates main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports {{ distro }}-backports main restricted universe multiverse
